menu "Example Configuration"

    config BME280_I2C_SDA_PIN
        int "I2C SDA Pin"
        default 13
        help
            GPIO number for I2C master data

    config BME280_I2C_SCL_PIN
        int "I2C SCL Pin"
        default 14
        help
            GPIO number for I2C master clock

endmenu
